
@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";


#main {

    @include flex-container(row, nowrap, center, center);
    padding: calc($nav-bar-height + 30px) 2.5vw;
    gap: 30px;

    section {
        flex: 1;

        @media (max-width: $bp-md) {
            
            &.threadList {
                display: none;
            }

            
        }
    }

    @media (max-width: $bp-md) {
        padding: calc($nav-bar-height) 0px 0px;
    }


}