@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";

.reply {

    @include flex-container(column, nowrap, flex-start, flex-start);
    padding: 30px;
    background: $black-alt-400;
    gap: 10px;

    border: 1px solid $white-100;

    p.metaData {
        width: 100%;
        @include text-sm-regular;
        color: $white-400;
    }

    p.message {
        @include text-md-regular;
        width: 100%;
        color: $white-600;
    }

    .replyButton {
        border: 1px solid $white-100;
    }

}