
@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";

.container {

    height: 100%;
    background: $black-alt-400;

    position: relative;
    overflow: hidden;

    &.empty {
        @include flex-container(column, nowrap, center, center);

        h4 {
            @include header-4-regular;
            color: $white-400;
        }
    }

    .firstMessage {

        @include flex-container(column, nowrap, flex-start, flex-start);
        padding: 30px;
        background: $black-alt-400;
        gap: 10px;
        border-bottom: 1px solid $white-100;

        h3 {
            @include header-3-regular;
            color: $white;
        }

        p.metaData {
            width: 100%;
            @include text-sm-regular;
            color: $white-400;
        }

        p.message {
            @include text-md-regular;
            width: 100%;
            color: $white-600;
        }
    
    }

    ul {
        @include reset-list;
        width: 100%;
        height: 100%;
        overflow: scroll;
        padding-bottom: 300px;


        -ms-overflow-style: initial;
        scrollbar-width: initial;

        // &::-webkit-scrollbar {
        //     display: initial;
        // }
    }


}