@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";

section.threadList {

    @include flex-container(column, nowrap, flex-start, stretch);
    gap: 30px;
    height: 100%;

    .greeting {

        @include flex-container(column, nowrap, flex-start, stretch);
        gap: 15px;
        
        h2 {
            @include header-2-regular;
            color: $white;
        }
        
        p {
           @include text-md-regular;
           color: $white-400; 
        }
    }

    .sectionTitle {
        @include flex-container(row, nowrap, space-between, center);
        gap: 30px;

        h3 {
            @include header-3-regular;
            color: $white;
        }

    }

    ul {
        @include flex-container(column, nowrap, flex-start, stretch);
        @include reset-list;
        height: 100%;
        background: $black-alt-400;

        -ms-overflow-style: initial;
        scrollbar-width: initial;

        overflow: scroll;
    }

    @media (max-width: $bp-md) {
        padding: 30px 2.5vw;

        .greeting {
            display: none;
        }
    }

}