@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";


.wrapper {

    @include flex-container(column, nowrap, flex-start, stretch);


    p {
        padding: 10px 20px;
        color: $white-400;
        position: absolute;
        bottom: 40px;
        left: 0;
        background: $black-600;
        width: 100%;
        backdrop-filter: blur(40px);
        @include text-overflow-ellipsis;
    }

    .messageInput {

        @include flex-container(row, nowrap, flex-start, center);
        padding: 10px 20px;
        border: 1px solid $white-100;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $black-alt;
        gap: 10px;
    
        textarea {
            @include reset-form-input;
            @include text-sm-regular;
            color: $white;
            width: 100%;
            background: transparent;
    
            &::placeholder {
                color: $white-600;
            }
            
            resize: vertical;
        }
    
    }

}

